.home {
  text-align: center; /*all the text on the main index.js page are centered using text-align*/
  background-image: url("/rickmorty.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: fixed;
  min-height: 100vh;
  padding-top: 15px;
}

.heading {
  background-color: lightblue;
  width: 20%;
  padding: 7px;
  margin: 0 auto;
  border-radius: 6px;
  margin-bottom: 20px;
}

.characterButton {
  /*this styles my link that links to the character gallery*/
  background-color: rgb(40, 133, 75);
  border-radius: 8px;
  padding: 7px;
  width: 16%;
  margin: 0 auto;
  outline: 2px solid black;
}

.characterButton a {
  text-decoration: none;
  font-weight: 800;
  color: white;
  font-size: 1.2rem;
}

.intro {
  background-color: black;
  font-size: 1.2rem;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
}
